# refs: https://zhuanlan.zhihu.com/p/52885189

# vscode configs
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# keil5 project files
# *.UVGUIX[.user-name]: Project screen layout file.
# *.UVOPTX: Project options file.
# *.UVPROJX: Project file.
# *.SCVD: XML schema file for the Component Viewer (System Component Viewer Description file).
**.uvguix.*
# **.uvoptx
# **.uvprojx
**.scvd

# but template.uvprojx should be included
!template.uvprojx

*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
*.__i
*.lnp

# rt-thread config backup
*.old

# JLink log and ini
JLinkLog.txt
JLinkSettings.ini
